body {
  margin: 0;
  padding: 0;
}
.header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: url(../images/0000.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header__menu-button-container {
  position: absolute;
  width: 84px;
  height: 84px;
  left: 32px;
  top: 20px;
}
.header__menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 1s;
  color: #25468B;
}
.header__menu-button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.header__text-logo {
  position: absolute;
  width: 757px;
  height: 242px;
  left: 1083px;
  top: -43px;
  user-select: none;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 250px;
  line-height: 375px;

  color: rgba(232, 238, 242, 0.25);
}
.header__text-tagline {
  position: absolute;
  width: 1017px;
  height: 148px;
  left: 735px;
  top: 200px;
  user-select: none;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 82px;
  text-align: right;

  color: rgba(37, 70, 139, 0.6);
}
.header__product-example-images {
  position: absolute;
  width: 579px;
  height: 809px;
  left: 1080px;
  top: 310px;
}
.voss-flavored {
  position: absolute;
  width: 170px;
  height: 701px;
  left: 470px;
  top: 81px;
}
.voss-still-1 {
  position: absolute;
  width: 195px;
  height: 809px;
  left: 220px;
  top: 10px;
}
.voss-sparkling-1 {
  position: absolute;
  width: 170px;
  height: 706px;
  left: 10px;
  top: 76px;
}